<app-header />

<main>
    <ul id="users">
        @for (user of users; track user.id) {
            <li>
                <app-user [user]="user" (select)="onSelectUser($event)"/>
            </li>
        }
    </ul>

    @if (selectedUser) {
        <app-tasks [name]="selectedUser.name"/>
    } @else {
        <p id="fallback">Select a user to see their tasks!</p>
    }
</main>

<!--OLD WAY-->
<!--    strucural directive-->
<!--    <ul id="users">-->
<!--        <li *ngFor="let user of users; trackBy: trackByUserId">-->
<!--            <app-user [user]="user" (select)="onSelectUser($event)"/>-->
<!--        </li>-->
<!--    </ul>-->

<!--    this has to go to ts file-->
<!--    trackByUserId(index: number, user: User): string {-->
<!--    return user.id;-->
<!--    }-->

<!--&lt;!&ndash; @if (selectedUser) { &ndash;&gt;-->
<!--<app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name"></app-tasks>-->
<!--&lt;!&ndash; } @else { &ndash;&gt;-->
<!--<ng-template #fallback>-->
<!--    <p id="fallback">Select a user to see their tasks!</p>-->
<!--</ng-template>-->
<!--&lt;!&ndash; } &ndash;&gt;-->


